<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Database</title>
</head>
<body>

<table border="1">
<tr>
    <td>User name</td>
    <td>Date</td>
    <td>Picture name</td>
    <td>Permutation</td>
</tr>
    {% for one_user_name in train_records %}
    <tr>
        <td> {{one_user_name.user_name}} </td>
        <td> {{ one_user_name.dt }} </td>
        <td> {{ one_user_name.picture_name }} </td>
        <td> {{ one_user_name.permutation }} </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>