<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Starting page</title>
</head>
<script>
    function onSelectPicture() {
        textControl = document.getElementById('input_name_select_picture');
        toRedirect = window.location.protocol + '//' + window.location.host + '/welcome/select_picture/'
        window.location.href = toRedirect + textControl.value;
        return false;
    }

    function onGuessPicture() {
        textControl = document.getElementById('input_name_guess_picture');
        toRedirect = window.location.protocol + '//' + window.location.host + '/welcome/guess_picture/'
        window.location.href = toRedirect + textControl.value;
        return false;
    }
</script>
<body>
 <h1>Welcome to our color bars project</h1>

 <table border="0">
     <tr>
         <td width="400">Please, enter your name and press "Go" button to select a picture and work with it</td>
         <td width="100" style="border: 0 none"></td>
         <td width="400">Please, enter your name and press "Go" button to let our system peek a picture for you</td>
     </tr>
     <tr>
         <td>
             <form onsubmit="return onSelectPicture();">
                 <label for="input_name_select_picture">Your name</label>
                 <input type="text" id="input_name_select_picture">
                 <input type="submit" value="Go">
             </form>
         </td>
         <td style="border: 0 none">
         </td>
         <td>
             <form onsubmit="return onGuessPicture();">
                 <label for="input_name_guess_picture">Your name</label>
                 <input type="text" id="input_name_guess_picture">
                 <input type="submit" value="Go">
             </form>
        </td>
    </tr>
 </table>
</body>
</html>
