<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Picture</title>
    <style>
        a {text-decoration: none;}
    </style>
</head>
<body>
  <h1>{{ user_name }}, please click on a image you want to work with</h1>
   <ul>
        {% for picture in pictures %}
            <a href="welcome/train_picture/{{ user_name }}/{{ picture }}/{{ random_permutation }}/{{ random_permutation }}__" >
            <img src="/pictures/{{ picture }}.jpg" width="auto" height="200"></img>
            </a>
        {% endfor %}
    </ul>
</body>
</html>
