<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Train picture</title>
</head>
<body>

<h1> {{ user_name }}, you can train here picture {{ picture_name }} with {{ color_bars }} </h1>

{% for choice in list_of_choices %}
    <!-- <p>{{ choice.demonstrate }} - {{ choice.permutation }} {{ choice.color }}</p> -->
    <a href="{{ choice.link }}">
      <svg width="110" height="110">
        <rect width="100" height="100" style="fill:rgb{{ choice.color }}" />
      </svg>
    </a>
{% endfor %}

<p></p>

<img src="pictures/{{ picture_name }}.jpg"></img>


</body>
</html>
