<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Train picture</title>
    <style>
        a {text-decoration: none;}
    </style>
</head>
<body>

<h2> {{ user_name }}, please choose a color you like most when you are thinking about the picture below </h2>

{% for choice in list_of_choices %}
    <a href="{{ choice.link }}">
      <svg width="110" height="110">
        <rect width="100" height="100" style="fill:rgb{{ choice.color }}" />
      </svg>
    </a>
{% endfor %}
<p></p>

<img src="pictures/{{ picture_name }}.jpg"></img>


</body>
</html>
